* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: silver;
    display: flex;
}
.brand img {
  width: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    list-style: none;
    display: flex;
    margin: 15px;
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
}

header nav ul li .sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 25px;
}

header nav ul li:hover .sub-menu {
    background-color: silver;
    display: block;
    color: #222;
    min-width: 200px;
}
